<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>TDD</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/rdLO7pSVrMY?si=b5RU-VlfHi3cRkbh" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
      <p>Learn AWS Now</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/bgPuPSPZe2U?si=8RbEDQjCjulxKMzg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
      <p>Innovtor Isalnd</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/EhgOoFbCID0?si=zTk4K_EH4mm4CMrr"  frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
      <p>Serverless</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/dUXDuxqTxmo?si=t5rg6jfv_7JOr5LW" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
  </section>